* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style: none;
}

:root {
  --color-primary: #191D2B;
  --color-secondary: #27AE60;
  --color-white: #fff;
  --color-black: #000;
  --color-grey0: #f8f8f8;
  --color-grey1: #dbe1e8;
  --color-grey2: #b2becd;
  --color-grey3: #6c7983;
  --color-grey4: #454e56;
  --color-grey5: #2a2e35;
  --color-grey6: #12181b;
  --br-sm-2: 1.4rem;
  --box-shadow-1: 0 .3rem 1.5rem rgba(0, 0, 0, .2) ;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: var(--color-primary);
  font-size: 1.6rem;
  color: var(--color-white);
  transition: all 0.4s ease-in-out;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

header {
  height: 100vh;
  color: var(--color-white);
  overflow: hidden;
}

section {
  width: 100%;
  padding: 3rem 18rem;
  transition: all 0.4s ease-in-out;
}

.section__title {
  max-width: 80rem;
  margin: 0 auto 8rem auto;
}

.section__description {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-primary);
  margin-bottom: 1rem;
}

.section__header {
  font-size: 4rem;
  line-height: 1.3;
  font-weight: 500;
}

.sec2 {
  background-color: yellow;
}

.sec3 {
  background-color: blue;
}

.sec4 {
  background-color: green;
}

.sec5 {
  background-color: darkcyan;
}

.controls {
  position: fixed;
  z-index: 10;
  top: 50%;
  right: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
}
.controls .active-btn {
  background-color: var(--color-secondary) !important;
  transition: all 0.4s ease-in-out;
}
.controls .active-btn i {
  color: var(--color-white) !important;
}
.controls .control {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  cursor: pointer;
  background-color: var(--color-grey4);
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
  margin: 0.7rem 0;
  box-shadow: var(--box-shadow-1);
}
.controls .control i {
  font-size: 1.8rem;
  color: var(--color-grey2);
  pointer-events: none;
}

.header-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
}
.header-content .left-header {
  display: flex;
  align-items: center;
  position: relative;
}
.header-content .left-header .header-shape {
  transition: all 0.4s ease-in-out;
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-clip-path: polygon(0 0, 50% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 50% 0, 100% 100%, 0 100%);
}
.header-content .right-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 18rem;
}
.header-content .right-header .name {
  font-size: 4.2rem;
}
.header-content .right-header .name span {
  color: var(--color-secondary);
  font-size: 5.6rem;
}
.header-content .right-header p {
  margin: 1.5rem 0;
  line-height: 2rem;
}

.btn-container {
  display: flex;
  align-self: flex-start;
}

.main-btn {
  border-radius: 3rem;
  color: inherit;
  font-weight: 600;
  position: relative;
  border: 0.1rem solid var(--color-secondary);
  display: flex;
  align-self: flex-start;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.main-btn .btn-text {
  padding: 0 2rem;
}
.main-btn .btn-icon {
  background-color: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 1rem;
}
.main-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: all 0.4s ease-in-out;
  z-index: -1;
}
.main-btn:hover::before {
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
  transform: translateX(0);
}/*# sourceMappingURL=style.css.map */