* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style: none;
}

:root {
  --color-primary: #191D2B;
  --color-secondary: #27AE60;
  --color-white: #fff;
  --color-black: #000;
  --color-grey-0: #f8f8f8;
  --color-grey-1: #dbe1e8;
  --color-grey-2: #b2becd;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #2a2e35;
  --color-grey-6: #12181b;
  --br-sm-2: 1.4rem;
  --box-shadow-1: 0 .3rem 1.5rem rgba(0, 0, 0, .2)
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-primary);
  font-size: 1.6rem;
  color: var(--color-white);
  transition: all .4s ease-in-out;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

header {
  height: 100vh;
  color: var(--color-white);
  overflow: hidden;
}

section {

  width: 100%;
  padding: 3rem 18rem;
  transition: all .4s ease-in-out;
}

.container {
  transition: all .4s ease-in-out;
  background-color: var(--color-primary);
}

// .section__title {
//   max-width: 80rem;
//   margin: 0 auto 8rem auto;
// }

// .section__description {
//   font-size: 1.8rem;
//   font-weight: 600;
//   text-transform: uppercase;
//   color: var(--color-primary);
//   margin-bottom: 1rem;
// }

// .section__header {
//   font-size: 4rem;
//   line-height: 1.3;
//   font-weight: 500;
// }



//Controls
.controls {
  position: fixed;
  z-index: 10;
  top: 50%;
  right: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);

  .active-btn {
    background-color: var(--color-secondary) !important;
    transition: all .4s ease-in-out;

    i {
      color: var(--color-white) !important;
    }
  }

  .control {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    cursor: pointer;
    background-color: var(--color-grey-4);
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
    margin: 1.2rem 0;
    box-shadow: var(--box-shadow-1);

    i {
      font-size: 1.8rem;
      color: var(--color-grey-2);
      pointer-events: none;
    }
  }
}

// Header-content

.header-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
  .left-header {
    display: flex;
    align-items: center;
    position: relative;

    .header-shape {
      transition: all .4s ease-in-out;
      width: 100%;
      height: 100%;
      background-color: var(--color-secondary);
      // background-image: url(../images/firery.jpg);
      // background-size: cover;
      // background-position: center; 
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      clip-path: polygon(0 0, 50% 0, 100% 100%, 0 100%);
    }
   
  }

  .right-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 18rem;

    .name {
      font-size: 4.2rem;
      span{
        color: var(--color-secondary);
        font-size: 5.6rem;
      }
    }
    p {
      margin: 1.5rem 0;
      line-height: 2rem;
    }
  }
}

// independent component
.btn-container {
  display: flex;
  align-self: flex-start;
}
.main-btn {
  border-radius: 3rem;
  color: inherit;
  font-weight: 600;
  position: relative;
  border: .1rem solid var(--color-secondary);
  display: flex;
  align-self: flex-start;
  display: flex;
  align-items: center;
  overflow: hidden;

  .btn-text {
    padding: 0 2rem;

  }
  .btn-icon {
    background-color: var(--color-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 1rem;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: all .4s ease-in-out;
    z-index: -1;
  }
  &:hover {
    &::before {
      width: 100%;
      height: 100%;
      background-color: var(--color-secondary);
      transform: translateX(0);
    }
  }
}

// Projects Section
.projects {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-top: 3rem;
  .project {
    display: flex;
    flex-direction: row;
      position: relative;
      background-color: var(--color-grey-5);
      border-radius: .5rem;
      box-shadow: .1rem .1rem 2rem rgba(0,0,0,.1);
      transition: all .4s ease-in-out;
      margin-bottom: 1.2rem;
      &:hover {
          box-shadow: .1rem .1rem 2rem rgba(0,0,0,.3);
          transform: translateY(-.5rem);
          transition: all .4s ease-in-out;
          img {
            border-radius: .5rem;
              filter: grayscale(0);
              transform: scale(1.1);
              box-shadow: 0 .4rem 1.5rem rgba(0,0,0,0.8);
          }
      }
      .project-text {
          
          padding: 5rem;
          border-left: .8rem solid var(--color-secondary);
          h4 {
              font-size: 2.4rem;
              margin-bottom: 3rem;
              transition: all .4s ease-in-out;
              cursor: pointer;
              &:hover { color: var(--color-secondary); }
          }
          p{
              color: var(--color-grey-2);
              line-height: 3rem;
              padding-bottom: 1rem;
          }
      }
  }
}
.project-item {
  position: relative;
  border-radius: 15px;
  width: 55%;
  height: 30rem;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
    filter: grayscale(100%);
    transition: all .4s ease-in-out;
}
  .hover-items {
      width: 100%;
      height: 100%;
      background-color: var(--color-secondary);
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      opacity: 0;
      transform: scale(0);
      transition: all .4s ease-in-out;
      h3 {
          font-size: 3.2rem;
          color: var(--color-white);
          margin-bottom: 1.5rem;
      }
      .icons {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 1.2rem;
          .icon {
              background-color: var(--color-primary);
              border-radius: 2.8rem;
              width: 14rem;
              height: 4rem;
              display: flex;
              gap: .6rem;
              align-items: center;
              justify-content: center;
              margin: 0 2.1rem;
              text-align: center;
              cursor: pointer;
              transition: all .4s ease-in-out;
              font-size: 1.8rem;
              i {
                  
                  color: var(--color-white);
                
                }
                span {
                  
                  color: var(--color-white);
            
              
              }
              &:hover {
                  background-color: var(--color-white);
                  i, span { color: var(--color-primary); }
              }
          }
      }
  }
}

.project-item:hover .hover-items {
  opacity: .8;
  transform: scale(1.1);
  border-radius: .1rem;
}

.main-title {
  text-align: center;
    h2 {
        position: relative;
        text-transform: uppercase;
        font-size: 4rem;
        font-weight: 700;
        span { color: var(--color-secondary); }
        .bg-text {
            position: absolute;
            top: 50%;
            left: 50%;
            color: var(--color-grey-5);
            transition: all .4s ease-in-out;
            z-index: -1;
            transform: translate(-50%, -50%);
            font-weight: 800;
            font-size: 6.3rem;
        }
    }
}